<table bordercolor="#808080" border="1" borderradius="100">
    <tbody>
        <tr>
            <th>

            </th>
            <th style="  border: 2px solid grey; border-collapse: collapse;">
                1
            </th>
            <th style="  border: 1px solid black; border-collapse: collapse;">
                2
            </th>
            <th style="  border: 1px solid black; border-collapse: collapse;">
                3
            </th>
            <th style="  border: 1px solid black; border-collapse: collapse;">
                4
            </th>
            <th style="  border: 1px solid black; border-collapse: collapse;">
                5
            </th>

        </tr>
        <tr>
            <th>
                <span class="badge bg-secondary" style="width: 64px; text-align: center; font-size: 20px;">Mon</span>
            </th>
            <MyBadge Lessons="@less" Block="block2" DayOfWeek="@DayOfWeek.Monday" />
            <MyBadge Lessons="@less" Block="block1" DayOfWeek="@DayOfWeek.Monday" />
            <MyBadge Lessons="@less" Block="block3" DayOfWeek="@DayOfWeek.Monday" />
            <MyBadge Lessons="@less" Block="block4" DayOfWeek="@DayOfWeek.Monday" />
            <MyBadge Lessons="@less" Block="block5" DayOfWeek="@DayOfWeek.Monday" />
            <MyBadge Lessons="@less" Block="block6" DayOfWeek="@DayOfWeek.Monday" />
        </tr>
        <tr>
            <th>
                <span class="badge bg-secondary" style="width: 64px; text-align: center; font-size: 20px;">Tues</span>
            </th>
            <MyBadge Lessons="@less" Block="block1" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block2" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block3" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block4" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block5" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block6" DayOfWeek="@DayOfWeek.Tuesday" />
        </tr>
        <tr>
            <th>
                <span class="badge bg-secondary" style="width: 64px; text-align: center; font-size: 20px;">Tues</span>
            </th>
            <MyBadge Lessons="@less" Block="block1" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block2" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block3" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block4" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block5" DayOfWeek="@DayOfWeek.Tuesday" />
            <MyBadge Lessons="@less" Block="block6" DayOfWeek="@DayOfWeek.Tuesday" />
        </tr>
    </tbody>
</table>

@code {
    [Inject] protected ISubjectFacade SubjectFacade { get; set; }

    public List<Lesson> less;

    [Parameter]
    public SubjectListQueryFilter filter { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var response = await SubjectFacade.GetSubjectListAsync(new DataFragmentRequest<SubjectListQueryFilter>()
            {
                Filter = new
            SubjectListQueryFilter()
            });
        less = response.Data.Select(dto => new Lesson(dto.Name, dto.ScheduleSlotInDay.ToString().ToLower(),
        dto.ScheduleDayOfWeek.Value)).ToList();

    }
}