<AuthorizeView Roles="@nameof(Role.Student)">
    <h5 class="mt-5">
        Postup tvé registrace předmětů
        @if ((studentsProgress is not null) && studentsProgress.IsRegistrationValid)
        {
            <b> - Máš splněné své registrace! 🥳</b>
        }
        else
        {
            <b> - Ještě nemáš hotovo - </b>
            <HxIcon Icon='BootstrapIcon.XCircleFill' CssClass="me-2 text-danger"/>
        }
    </h5>
    @if (studentsProgress is not null) 
    {
        // Loaded, show data
        @if (studentsProgress.CanUseLanguageInsteadOfDonatedHours)
        {
            <p><b>Profesionální rada</b>: Tvůj ročník umožňuje zapsat druhý cizí jazyk namísto volitelného předmětu 😎 (ale ne obojí zároveň)</p>
        }

        <HxListGroup 
            CssClass='contained-width'>
            @if (!studentsProgress.CanUseLanguageInsteadOfDonatedHours)
            {
                // Cannot use language instead of donated hours (more common)

                <ElectiveProgressComponent
                    CriteriaName='Celkový počet hodin'
                    IsProgressComplete="@studentsProgress.IsDonatedHoursProgressComplete"
                    CompleteRegistrationIsValid='studentsProgress.IsRegistrationValid'
                    CriteriaProgressDescription="@($"{studentsProgress.AmOfDonatedHoursExcludingLanguages}h / {studentsProgress.RequiredAmOfDonatedHoursExcludingLanguages}h")"
                    CriteriaDescription=@($"Musíš mít tolik předmětů (kromě jazyků), aby dohromady zabraly v rozvrhu {GetHoursWithGrammar(studentsProgress.RequiredAmOfDonatedHoursExcludingLanguages)}")/>

                @if (studentsProgress.IsLanguageRequired)
                {
                    <ElectiveProgressComponent
                        CriteriaName='Druhý cizí jazyk'
                        IsProgressComplete="@studentsProgress.HasRegisteredLanguage"
                        CompleteRegistrationIsValid='studentsProgress.IsRegistrationValid'
                        CriteriaProgressDescription="@(studentsProgress.HasRegisteredLanguage ? "Splněno - Máš zapsaný jazyk" : "Chybí - Potřebuješ zapsat jazyk")"
                        CriteriaDescription="Musíš mít zapsaný cizí jazyk"/>
                }
            }
            else
            {
                // Can use language instead of donated hours

                <ElectiveProgressComponent
                    CriteriaName='Celkový počet hodin'
                    IsProgressComplete="@studentsProgress.IsDonatedHoursProgressComplete"
                    CompleteRegistrationIsValid='studentsProgress.IsRegistrationValid'
                    CriteriaProgressDescription="@($"{studentsProgress.AmOfDonatedHoursExcludingLanguages}h / {studentsProgress.RequiredAmOfDonatedHoursExcludingLanguages}h")"
                    CriteriaDescription=@($"Musíš mít tolik předmětů (kromě jazyků), aby dohromady zabraly v rozvrhu {GetHoursWithGrammar(studentsProgress.RequiredAmOfDonatedHoursExcludingLanguages)}")/>
                <HxListGroupItem> Nebo </HxListGroupItem>
                <ElectiveProgressComponent
                    CriteriaName='Druhý cizí jazyk'
                    IsProgressComplete="@studentsProgress.HasRegisteredLanguage"
                    CompleteRegistrationIsValid='studentsProgress.IsRegistrationValid'
                    CriteriaProgressDescription="@(studentsProgress.HasRegisteredLanguage ? "Splněno - Máš zapsaný jazyk" : "Chybí - Potřebuješ zapsat jazyk")"
                    CriteriaDescription="Musíš mít zapsaný cizí jazyk"/>
            }

            @if (studentsProgress.RequiresCspOrCpValidation)
            {
                <ElectiveProgressComponent
                    CriteriaName='Člověk & svět práce nebo Člověk & příroda'
                    IsProgressComplete="@studentsProgress.IsCsOrCpProgressComplete"
                    CompleteRegistrationIsValid='studentsProgress.IsRegistrationValid'
                    CriteriaProgressDescription="@($"{studentsProgress.AmOfDonatedHoursInCspOrCp}h / {studentsProgress.RequiredMinimalAmOfDonatedHoursInCspOrCp}h")"
                    CriteriaDescription=@($"Alespoň {GetHoursWithGrammar(studentsProgress.RequiredMinimalAmOfDonatedHoursInCspOrCp)} musí být ze vzdělávacích oblastí „Člověk aspolečnost“ či „Člověk a příroda“")/>
            }
        </HxListGroup>
    }
    else
    {
        // Not loaded, show placeholder

        <b>Načítání postupu</b>
        <HxSpinner Color="ThemeColor.Primary" Size="SpinnerSize.Small" />
    }
</AuthorizeView>
