@attribute [Route(Routes.Electives.SubjectDetail)]

@if (subject is not null)
{
    <div class="row">
        <div class="col">
            <h1>@subject.Name</h1>
        </div>

        <AuthorizeView Roles="@nameof(Role.Administrator)">
            <div class="col text-end">
                <HxButton Color="ThemeColor.Secondary" OnClick="HandleEditClick" CssClass="mb-4">Editovat definici předmětu</HxButton>
            </div>
        </AuthorizeView>
    </div>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Anotace</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <HxCardText>@subject.Description.WithNewLinesAsHtmlBreak()</HxCardText>
        </BodyTemplate>
    </HxCard>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Základní údaje</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <HxCardText>
                <TextValue Label="Přednášející" Value="@GetTeachers(subject.TeacherIds)" />
                <TextValue Label="Čas" Value="@ValueFormatter.GetScheduleTimeSlot(subject.ScheduleDayOfWeek, subject.ScheduleSlotInDay)" />
                <TextValue Label="Kapacita" Value="@($"{subject.Capacity:n0}/{subject.StudentRegistrationsCountMain}/{subject.StudentRegistrationsCountSecondary}")" />
            </HxCardText>
        </BodyTemplate>
    </HxCard>

    <AuthorizeView Roles="@nameof(Role.Student)">
        <HxCard CssClass="mb-4">
            <HeaderTemplate>
                <HxCardTitle>Zápis předmětu</HxCardTitle>
            </HeaderTemplate>
            <BodyTemplate>
                <StudentSubjectRegistrationComponent SubjectId="@SubjectId" />
            </BodyTemplate>
        </HxCard>
    </AuthorizeView>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Zapsaní studenti</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <StudentSubjectRegistrationsGrid DataProvider="GetStudentRegistrations" ShowSubjectColumn="false" />
        </BodyTemplate>
    </HxCard>

    <SubjectEdit @ref="subjectEditComponent" SubjectId="@SubjectId" OnSaved="HandleEditSaved" />
}
else
{
    <HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <h1><HxPlaceholder Columns="4" /></h1>

        <HxPlaceholderButton Color="ThemeColor.Secondary" />
    </HxPlaceholderContainer>
}
