@attribute [Route(Routes.Electives.Subjects)]

<div>
    @* CSS Isolation *@

    <HxListLayout Title="Přednášky"
                  TFilterModel="SubjectListQueryFilter"
                  FilterModel="subjectListFilter"
                  FilterModelChanged="HandleFilterModelChanged">
        <CommandsTemplate>
            <AuthorizeView Roles="@nameof(Role.Administrator)">
                <HxButton Text="Nový předmět" OnClick="HandleNewItemClicked" Color="ThemeColor.Primary" />
            </AuthorizeView>
        </CommandsTemplate>
        <DataTemplate>
            <HxGrid @ref="subjectsGrid"
                    TItem="SubjectListItemDto"
                    DataProvider="LoadSubjects"
                    SelectedDataItem="subjectSelected"
                    SelectedDataItemChanged="HandleSelectedDataItemChanged"
                    ItemRowCssClassSelector="item => GetRowCssClass(item)"
                    HeaderRowCssClass="text-nowrap"
                    Context="item"
                    IsResponsive="true">
                <Columns>
                    <HxGridColumn TItem="SubjectListItemDto" HeaderText="Název" ItemTextSelector="@(item => item.Name)" SortString="@nameof(SubjectListItemDto.Name)" IsDefaultSortColumn="true" />
                    <HxGridColumn TItem="SubjectListItemDto" HeaderText="Přednášející" ItemTextSelector="@(item => GetTeachers(item.TeacherIds))" SortString="@nameof(SubjectListItemDto.TeacherIds)" />
                    <HxGridColumn TItem="SubjectListItemDto" HeaderText="Čas" ItemTextSelector="@(item => ValueFormatter.GetScheduleTimeSlot(item.ScheduleDayOfWeek, item.ScheduleSlotInDay))" SortString="@nameof(SubjectListItemDto.ScheduleSlotInDay)" ItemCssClass="text-nowrap" />
                    <HxGridColumn TItem="SubjectListItemDto" HeaderText="Kapacita" ItemTextSelector="@(item => $"{item.Capacity:n0}/{item.StudentRegistrationsCountMain}/{item.StudentRegistrationsCountSecondary}")" SortString="@nameof(SubjectListItemDto.Capacity)" />
                </Columns>

                <ContextMenu Context="item">
                    <AuthorizeView Roles="@nameof(Role.Administrator)">
                        <HxContextMenu>
                            <HxContextMenuItem Text="Smazat"
                                               OnClick="async () => await HandleDeleteItemClicked(item)"
                                               ConfirmationQuestion="@String.Format("Opravdu si přejete předmět '{0}' smazat?", item.Name)" />
                        </HxContextMenu>
                    </AuthorizeView>
                </ContextMenu>
            </HxGrid>

        </DataTemplate>
    </HxListLayout>

</div>

<SubjectEdit @ref="subjectEditComponent" SubjectId="null" OnSaved="HandleSubjectEditSaved" />    