@attribute [Route(Routes.Electives.SubjectDetail)]

@if (subject is not null)
{
    <div class="row">
        <div class="col">
            <h1>
                <a href='javascript:history.go(-1)'><i class="bi bi-arrow-return-left" style="font-size: 1.5rem"></i></a>
                @subject.Name
            </h1>
        </div>


        <AuthorizeView Roles="@nameof(Role.Administrator)">
            <div class="col text-end">
                <HxButton Color="ThemeColor.Secondary" OnClick="HandleEditClick" CssClass="mb-4">Upravit definici předmětu</HxButton>
            </div>
        </AuthorizeView>
    </div>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Popis</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <HxCardText>@subject.Description.WithNewLinesAsHtmlBreak()</HxCardText>
        </BodyTemplate>
    </HxCard>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Základní údaje</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <HxCardText>
                <TextValue Label="Vyučující" Value="@GetTeachers(subject.TeacherIds)" />
                <TextValue Label="Rozvrh" Value="@ValueFormatter.GetScheduleTimeSlot(subject.ScheduleDayOfWeek, subject.ScheduleSlotInDay)" />
                <TextValue Label="Počet zápisů primárních (+náhradních)" Value="@($"{subject.StudentRegistrationsCountMain} / {subject.Capacity?.ToString() ?? "\x221E"} (+{subject.StudentRegistrationsCountSecondary})")" />
                <TextValue Label="@(subject.GradeIds.Count != 1 ? "Ročníky" : "Ročník")" Value="@GetGrades(subject.GradeIds)" />
                <TextValue Label="Skupina" Value="@SubjectCategoriesDataStore.GetByKey(subject.CategoryId.Value)?.Name" />
                <TextValue Label="@(subject.SubjectTypeIds.Count != 1 ? "Vzdělávací oblasti" : "Vzdělávací oblast")" Value="@GetSubjectTypes(subject.SubjectTypeIds)" />
            </HxCardText>
        </BodyTemplate>
    </HxCard>

    <AuthorizeView Roles="@nameof(Role.Student)">
        <HxCard CssClass="mb-4">
            <HeaderTemplate>
                <HxCardTitle>Zápis předmětu</HxCardTitle>
            </HeaderTemplate>
            <BodyTemplate>
                <StudentSubjectRegistrationComponent SubjectId="@SubjectId" OnRegistrationChanged="HandleRegistrationChanged" />
            </BodyTemplate>
        </HxCard>
    </AuthorizeView>

    <HxCard CssClass="mb-4">
        <HeaderTemplate>
            <HxCardTitle>Zapsaní studenti</HxCardTitle>
        </HeaderTemplate>
        <BodyTemplate>
            <StudentSubjectRegistrationsGrid @ref="registrationsGrid" DataProvider="GetStudentRegistrations" ShowSubjectColumn="false" />
        </BodyTemplate>
    </HxCard>

    <SubjectEdit @ref="subjectEditComponent" SubjectId="@SubjectId" OnSaved="HandleEditSaved" />
}
else
{
    <HxPlaceholderContainer Animation="PlaceholderAnimation.Glow">
        <h1><HxPlaceholder Columns="4" /></h1>

        <HxPlaceholderButton Color="ThemeColor.Secondary" />
    </HxPlaceholderContainer>
}
