<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					@if (!context.User.Identity.IsAuthenticated)
					{
						<RedirectToLogin />
					}
					else
					{
						<p>
							You are not authorized to access this resource.
						</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
            <LayoutView Layout="@typeof(MainLayout)">
                <center>
                    <p style="color:#888888;">



                        404 error <br />  Je nám líto ale hledanou stránku jsme neanašli, jestli si chcete na zítřek objednat oběd tak to se píše se Z <br />
                        <!-- <img src="Kepler.png" alt="Kepler"> -->
                        <style>
                            body {
                                background-image: url('Kepler.png');
                            }
                        </style>

                    </p>
                </center>


            </LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

<BlazorApplicationInsights.ApplicationInsightsComponent />