<CascadingAuthenticationState>
	<Router AppAssembly="@typeof(Program).Assembly" PreferExactMatches="@true">
		<Found Context="routeData">
			<AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
				<NotAuthorized>
					@if (!context.User.Identity.IsAuthenticated)
					{
						<RedirectToLogin />
					}
					else
					{
						<p>
							You are not authorized to access this resource.
						</p>
					}
				</NotAuthorized>
			</AuthorizeRouteView>
		</Found>
		<NotFound>
			<LayoutView Layout="@typeof(MainLayout)">
				<p>404 We are sorry we couldn't find the mensa intranet page you are looking for and if you want to order a lunch for tommorow that's written with Z</p>

			</LayoutView>
		</NotFound>
	</Router>
</CascadingAuthenticationState>

<BlazorApplicationInsights.ApplicationInsightsComponent />